@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:100,300&display=swap');

body {
  margin: 0;
  background-color: #ebd7c3;
  font-family: 'Roboto Mono', monospace;
  font-weight: 100;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
